<!-- <div class="text-vertical-center jumbotron">
    <h1>Pawsitive Vibes</h1>
    <h3>Happiness is just a click away!</h3>
    <br>
    <a class="btn btn-dark btn-lg" id="send-gif-link" href="/getgiphywithit">Click here for a gift!</a>
   <!  <a href="#about" class="btn btn-dark btn-lg">Find Out More</a> -->
<!-- </div>
 -->
