<div class="text-center jumbotron overlay">
  <div class="paw-text">
    <h1>PAW-sitive Vibes</h1>
    <h3>This app will make keep you FELINE good! FUR-real!</h3>
    <br>
    <a class="btn btn-dark btn-lg" id="send-gif-link" href="/getgiphywithit">GOPHER IT!</a>
  </div>
</div>


<!--  <a href="#about" class="btn btn-dark btn-lg">Find Out More</a> -->

<!-- <h1>Meow</h1>
<h2>If your reading this your awesome!</h2>
<a id="send-gif-link" href="/getgiphywithit">Click here for a gift!</a>
 -->

<!-- <a class="btn btn-dark btn-lg" id="send-gif-link" href="/getgiphywithit">Click here for a gift!</a> -->
